* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
nav {
    height: 80px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}
.logo {
    font-weight: 33px;
    color:white;
    font-weight: 600px;
}
 ul {
    display: flex;
    list-style: none;
}
nav ul li a {
    color: aqua;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500px;
    padding: 8px 10px;
    border-radius: 10px;
}

nav ul li {
    margin: 0px 5px;
} @media(max-width:940px) {
    ul {
        position: fixed;
        top: 80px;
        left: 0px;
        background-color: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
    }
    nav ul li {
        margin: 40px 0;
    }

}



